*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    
}

h1{
color: black;
    display:flex;
    text-align:center ;
    justify-content: center;
}

#footer{ 
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 2.5rem; 
    text-align:right ;
    justify-content: center;
}

body{
    height:100vh;
   
    background: radial-gradient(#490c6675, #081375);
    
}

#cardboard{
    width: 640px;
    height:640px;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    
}

.memory-card{
    width: calc(25% - 10px);
    height:33%;
    margin:5px;
    transform-style: preserve-3d;
    transition: 0.3s;
    position: relative;


}

.memory-card:active{
    transform: scale(0.97);
}

.memory-card.flip{
    transform: rotateY(180deg);
    
}


.front-face,
.back-face{
    background:#675a10;
    width: 100%;
    height:100%;
    padding: 5px;
    position: absolute;
    backface-visibility: hidden;
    
}
.front-face{
    transform: rotateY(180deg);
    
}
.side-links {
  position: absolute;
  top: 15px;
  right: 15px;
}

.side-link {
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 10px;
  color: rgb(0, 0, 0);
  width: 180px;
  padding: 10px 0;
  border-radius: 10px;
}

.side-link-youtube {
  background-color: red;
}

.side-link-instagram {
  background-color: #d86010;
}

.side-link-facebook {
  background-color: #2f01fd;
}

.side-link-text {
  margin-left: 10px;
  font-size: 18px;
}

.side-link-icon {
  color: rgb(0, 0, 0);
  font-size: 30px;
}
